html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

a { text-decoration: none; color: white; }
ul { list-style: none; }

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#container .child_1 { 
    flex-grow: 1; 
    background-color:aqua; 
}
#container .child_2 { 
    flex-grow: 10; 
    background-color: beige;
    display: flex;    
}

.child_2_1 { 
    flex-grow: 1;
    background-color: green;
}

.child_2_2 { 
    flex-grow: 5;
    background-color: darkmagenta;
}

.child_2_3 {
    flex-grow: 1;
    background-color: darkslateblue;
    display: flex;
    flex-direction: column;
}

.child_2_3_1 {
    flex-grow: 1;
    background-color: darkturquoise;
}

.child_2_3_2 {
    flex-grow: 1;
    background-color: gainsboro;
}


#container .child_3 { 
    flex-grow: 1; 
    background-color: burlywood;
}